<nav class="nav">
    <div class="nav-logo">
        <p style="color: orangered;">MLM-Fintech</p>
    </div>
    <div class="nav-menu" id="navMenu">
        <ul>
            <li><a href="/" class="link">Home</a></li>
            <li><a href="#" class="link">Emas</a></li>
            <li><a href="#" class="link">Saham</a></li>
            <li><a href="#" class="link">Crypto</a></li>
            <li><a href="#" class="link">TopUp</a></li>
            <li><a href="/profile:id" class="link">Balance :</a></li>
            <li><a href="/profile:id" class="link">Your Profile</a></li>
        </ul>
    </div>
    <div class="nav-button">
        <button class="btn white-btn" id="loginBtn" onclick="login()">Logout</button>
    </div>
    <div class="nav-menu-btn">
        <i class="bx bx-menu" onclick="myMenuFunction()"></i>
    </div>
</nav>