<nav class="nav">
    <div class="nav-logo">
        <p style="color: orangered;">MLM-Fintech</p>
    </div>
    <div class="nav-menu" id="navMenu">
        <ul>
            <li><a href="#" class="link">Home</a></li>
            <li><a href="#" class="link">Emas</a></li>
            <li><a href="#" class="link">Saham</a></li>
            <li><a href="#" class="link">Crypto</a></li>
        </ul>
    </div>
    <div class="nav-button">
        <button class="btn white-btn" id="loginBtn" onclick="login()">Sign In</button>
        <button class="btn" id="registerBtn" onclick="register()">Sign Up</button>
    </div>
    <div class="nav-menu-btn">
        <i class="bx bx-menu" onclick="myMenuFunction()"></i>
    </div>
</nav>