<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <%- include('./link/style') %> -->
    <title>Profile</title>
</head>
<body>
    <%- include('./link/navbar-login') %>
      <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
           <h6><%= error %></h1> 
            <form action="/profile" method="post">
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" name="name">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Birth Of Date</label>
                    <input type="date" class="form-control" name="birthOfDate">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Address</label>
                    <input type="text" class="form-control" name="address">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Phone Number</label>
                    <input type="number" class="form-control" name="phone">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Payment method</label>
                    <select class="form-select" name="payment">
                      <option selected disabled>-- Choose your payment method --</option>
                      <option value="bank-transfer">Bank Transfer</option>
                      <option value="qris">QRIS</option>
                      <option value="visa">Visa</option>
                    </select>
                  </div>
                  <button type="subimt" class="btn btn-danger"> Submit</button>
            </form>

            </div>
            </div>
          </div>
    <%- include('./link/boostrap') %>
    <script>
   
        function myMenuFunction() {
         var i = document.getElementById("navMenu");
     
         if(i.className === "nav-menu") {
             i.className += " responsive";
         } else {
             i.className = "nav-menu";
         }
        }
      
     </script>
</body>
</html>